/*custom navabar*/
.navbar{
    height: 200px;
    background-image: url(images/im1.jpg);   
}
.navbar-brand{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.fontnav{
    font-size: 20px;
    font-weight: bold;
}

.nav-link{
    color: blue !important;
}
.nav-link:hover{
    background-color: aliceblue !important;
    color: black !important;
    transition: .3s;
}

/*custom section héros*/

.banner{
    background-color: rgba(0, 0, 0, .5);
    background-image: url(images/im4.jpg);
    background-position: center, center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    
}
.titre{
    margin-top: 300px;
    color: white;
}

/*custom section menu*/
.card{
    background-color: rgba(0, 0, 0, .3);
}
 .imgs{
    height: 100px;
 }

 @media screen and (max-width: 768px) {
    .row{
        display: block;
    }
    .navbar{
        
    }
}

/*custom section contact*/

@media screen and (min-width: 768px) {
    .form-group{
        width: 500px;
    }
}
@media screen and (min-width: 1200px) {
    .form-group{
        
    } 
}

html{
    width: fit-content;
}